.about {
    font-family: $font-family__heading;
    width: 80%;
    max-width: 780px;
    margin: auto;
    font-size: 18px;
    text-align: center;
    @include tablet {
        font-size: 24px;
    }

    &_text {
        font-size: 24px;
        @include tablet {
            font-size: 32px;
        }
    }
}
