.about {
    font-family: $font-family__heading;
    width: 80%;
    max-width: 780px;
    margin: auto;
    font-size: 14px;
    text-align: center;
    @include tablet {
        font-size: 19px;
    }

    &_text {
        font-size: 19px;
        @include tablet {
            font-size: 22px;
        }
        @include desktop {
            font-size: 26px;
        }
    }
}
