.activity {
    font-size: 29px;

    &_title {
        font-style: italic;
        text-decoration: underline;
    }
    &_image {
        display: block;
        border-radius: 50%;
        margin: 0 auto 20px;
    }
    &_disclaimer {
        font: 14px $font-family__heading;
    }
}
