.activities {
    margin-bottom: 110px;
}

.activity {
    font-size: 19px;
    max-width: 1000px;
    margin: 0 auto 80px;
    @include tablet {
        width: 85%;
        margin-bottom: 110px;
        font-size: 32px;
    }
    @include desktop {
        width: 70%;
        font-size: 40px;
    }

    &_title {
        font-style: italic;
        text-decoration: underline;
        margin-bottom: 30px;
    }
    &_text {
    }
    &_image {
        display: block;
        border-radius: 50%;
        margin: 0 auto 0px;
        transform: scale(0);
        opacity: 0;
        transition: .3s $easingSmooth opacity,
                    .6s $easingSmooth transform;

        &.animated {
            opacity: 1;
            transform: scale(1);
        }
    }
    &_image + h3 {
        margin-top: 30px;
    }
    &_disclaimer {
        font: 14px $font-family__heading;
        max-width: 900px;
        margin: 40px auto 0;
        @include tablet {
            font-size: 18px;
        }
    }
}
