.advantage {
    font-size: 58px;
    width: 80%;
    max-width: 1520px;
    margin: auto;

    &_title {
        @include appearance;
        font: 28px $font-family__heading;
    }
    &_text {
        @include appearance(.2s);
    }
}
