.experience {
    position: relative;
    text-align: right;

    &_title {
        @include appearance;
        margin: 0;
        font: 400 80px $font-family;
        text-transform: none;
        text-align: left;
        line-height: 1;
        position: absolute;
        left: 0;
        top: 120px;
        z-index: 3;
        @include tablet {
            max-width: 600px;
        }
    }

    &_image {
        @include appearance(.2s);
        position: relative;
        z-index: 1;
        width: 75%;
    }
    
    &_image-small {
        @include appearance(.4s);
        position: absolute;
        z-index: 2;
        left: -20px;
        top: 40%;
        width: 20%;

        @include tablet {
            bottom: -130px;
        }
    }
}
