.footer {
    padding: 0 0 56px;
    position: relative;
    font-family: $font-family__heading;

    &_holder {
        @include layout;
        position: relative;
    }
    
    &_contacts {
        text-align: center;
        margin-bottom: 64px;
    }
    &_contact {
        display: block;
        margin: 0 0 55px;

        a {
            display: block;
        }
    }
    &_menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
        font-weight: bold;
        font-size: 14px;
        @include tablet {
            font-size: 19px;
            gap: 55px;
        }
    }
    &_link {
        position: relative;

        &::before {
            content: '';
            pointer-events: none;
            position: absolute;
            top: 1px;
            left: -12px;
            width: 2px;
            height: 14px;
            background-color: $color;
            @include tablet {
                left: -25px;
                height: 19px;
            }
        }
    }
}
