.footer {
    padding: 0 0 70px;
    position: relative;
    font-family: $font-family__heading;

    &_holder {
        @include layout;
        position: relative;
    }
    
    &_contacts {
        text-align: center;
        margin-bottom: 80px;
    }
    &_contact {
        display: block;
        margin: 0 0 35px;

        a {
            display: block;
        }
    }
    &_menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 55px;
        font-weight: bold;
        font-size: 24px;
    }
    &_link {
        position: relative;

        &::before {
            content: '';
            pointer-events: none;
            position: absolute;
            top: 1px;
            left: -25px;
            width: 2px;
            height: 24px;
            background-color: $color;
        }
    }
}
