.header {
    @include layout;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 7px;
    z-index: 11;
    
    &_holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_menu-wrapper {
        display: flex;
        gap: 150px;
        align-items: center;
    }
}
