.header {
    @include layout;
    left: 0;
    right: 0;
    top: 0;
    z-index: 11;
    
    &_holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 79px;
        padding-top: 36px;
        gap: 40px;
    }
    &_menu-wrapper {
        display: flex;
        gap: 150px;
        align-items: center;
        position: relative;
        min-height: 24px;
        top: -8px;
        padding-right: 175px;
        @include tablet {
            padding-right: 105px;
        }
        @include desktop-large {
            padding-right: 175px;
        }
    }
}
