.header {
    @include layout;
    left: 0;
    right: 0;
    top: 0;
    z-index: 11;
    
    &_holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 72px;
        padding-top: 32px;
        gap: 30px;
    }
    &_menu-wrapper {
        display: flex;
        gap: 150px;
        align-items: center;
        position: relative;
        min-height: 19px;
        top: -8px;
        padding-right: 140px;
        @include tablet {
            padding-right: 105px;
            gap:100px;
            top: 0;
        }
        @include desktop-large {
            padding-right: 120px;
        }
    }
}
