.header {
    @include layout;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 11;
    
    &_holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 26px;
        gap: 40px;
    }
    &_menu-wrapper {
        display: flex;
        gap: 150px;
        align-items: center;
        position: relative;
        min-height: 24px;
    }
}
