%heading-1 {
    @include gradiented-text(#DBDCF8, #A0B2CE, 180deg);
    font-family: $font-family__heading;
    font-size: 52px;
    line-height: 64px;
    font-weight: 400;
    margin: 0 0 24px;
    position: relative;
    filter: drop-shadow(0px 5px 0px #5A6C99)  drop-shadow(0px 5px 0px #5A6C99);
    @include desktop {
        font-size: 72px;
        line-height: 95px;
        margin-bottom: 40px;
    }
}
%heading-2 {
    font-family: $font-family__heading;
    font-size: 24px;
    font-weight: 700;
    margin: 130px 0 20px;
    text-transform: uppercase;
}
%heading-3 {
    font-family: $font-family;
    font-size: 58px;
    line-height: 1.2;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 30px;
}
%heading-4 {
    font-family: $font-family__heading;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 400;
    @include desktop {
        font-size: 26px;
    }
}
%heading-5 {
    font-family: $font-family__heading;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    @include desktop {
        font-size: 16px;
    }
}

h1,
.heading-1{
    @extend %heading-1;
}
h2,
.heading-2 {
    @extend %heading-2;
}
h3,
.heading-3 {
    @extend %heading-3;
}
h4,
.heading-4 {
    @extend %heading-4;
}
h5,
.heading-5 {
    @extend %heading-5;
}
