.logo {
    display: block;
    width: 180px;
    position: absolute;
    left: $indent;
    top: 26px;
    @include tablet {
        flex-shrink: 0;
        width: auto;
    }

    &_image {
        display: block;
        width: 100%;
    }
}
