
.menu {
    z-index: 9;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: -16px;
    top: -16px;
    padding: 56px 16px 16px 16px;
    background-color: $bg_color;
    flex-direction: column;
    gap: 16px;

    transition: .2s $easingSmooth opacity;
    @include desktop {
        flex-direction: row;
        opacity: 1;
        pointer-events: all;
        position: static;
        padding: 0;
        background-color: transparent;
        gap: 100px;
        height: 100%;
        align-items: center;
    }
    @include desktop-large {
        gap: 150px;
    }
    
    .menu-hidden-transition & {
        @include desktop {
            display: none;
        }
    }

    .menu-opened & {
        opacity: 1;
        pointer-events: all;
    }

    .menu-hidden & {
        @include desktop {
            opacity: 0;
            pointer-events: none;
            position: absolute;
            right: -16px;
            top: -16px;
            padding: 56px 16px 16px 16px;
            background-color: $bg_color;
            flex-direction: column;
            gap: 16px;
            height: auto;
            align-items: flex-end;
        }
    }

    .menu-hidden.menu-opened & {
        opacity: 1;
        pointer-events: all;
    }

    &_link {
        color: $color;
        font-family: $font-family__heading;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        white-space: nowrap;
        letter-spacing: .5px;
        @include tablet {
            font-size: 18px;
        }
        @include desktop-large {
            font-size: 24px;
        }

        &:hover {
            text-decoration: underline;
        }

        .menu-hidden & {
            font-size: 20px;
        }
    }
}
