
.menu {
    z-index: 9;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: -16px;
    top: -16px;
    padding: 56px 16px 16px 16px;
    background-color: $bg_color;
    flex-direction: column;
    gap: 16px;

    transition: .2s $easingSmooth opacity;
    @include desktop {
        flex-direction: row;
        opacity: 1;
        pointer-events: all;
        position: static;
        padding: 0;
        background-color: transparent;
        gap: 150px;
        height: 100%;
        align-items: center;
    }

    .menu-opened & {
        opacity: 1;
        pointer-events: all;
    }

    &__dropdown {
        opacity: 0;
        pointer-events: none;
        position: fixed;
        right: 10px;
        top: 36px;
        padding: 56px 16px 16px 16px;
        background-color: $bg_color;
        flex-direction: column;
        gap: 16px;
        height: auto;
        align-items: flex-end;
    }

    .menu-opened &__dropdown {
        opacity: 1;
        pointer-events: all;
    }

    &_link {
        color: $color;
        font-family: $font-family__heading;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        white-space: nowrap;
        letter-spacing: .5px;

        &:hover {
            text-decoration: underline;
        }

        .menu__dropdown & {
            font-size: 20px;
        }
    }
}
