
.menu {
    z-index: 9;
    display: flex;
    justify-content: flex-end;
    gap: 150px;
    align-items: center;
    height: 100%;
    overflow-y: auto;
    left: 100%;
    top: 0;
    width: 100%;
    transform: translateX(0);
    transition: .6s $easingSmooth transform,
                .3s $easingSmooth opacity .1s;

    .menu-opened & {
        transform: translateX(-100%);
    }

    &_link {
        color: $color;
        font-family: $font-family__heading;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        white-space: nowrap;


        &:hover {
            text-decoration: underline;
        }
    }
}
