.menu-toggle {
    @include button-reset;
    position: absolute;
    right: 0;
    top: -3px;
    width: 28px;
    height: 28px;
    z-index: 10;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transition: .2s $easingSmooth opacity;

    .menu-hidden & {
        opacity: 1;
        pointer-events: all;
    }

    &_line {
        width: 100%;
        height: 4px;
        background: $color;
        transform-origin: center;
        transition: .2s $easingSmooth transform,
                    .2s $easingSmooth opacity;

        &:nth-child(1) {
            .menu-opened & {
                transform: rotate(45deg) translate(9px, 9px);
            }
        }
        &:nth-child(2) {
            .menu-opened & {
                opacity: 0;
            }
        }
        &:nth-child(3) {
            .menu-opened & {
                transform: rotate(-45deg) translate(7px, -8px);
            }
        }
    }
}
