.menu-toggle {
    @include button-reset;
    position: fixed;
    right: 24px;
    top: 52px;
    width: 32px;
    height: 28px;
    z-index: 10;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    transition: .2s $easingSmooth opacity;
    @include media(1540px) {
        right: auto;
        left: 50%;
        margin-left: 720px;
    }

    &::before {
        content: '';
        background-color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
    }


    &_line {
        width: 100%;
        height: 4px;
        background: $color;
        transform-origin: center;
        transition: .2s $easingSmooth transform,
                    .2s $easingSmooth opacity;

        &:nth-child(1) {
            .menu-opened & {
                transform: rotate(45deg) translate(9px, 9px);
            }
        }
        &:nth-child(2) {
            .menu-opened & {
                opacity: 0;
            }
        }
        &:nth-child(3) {
            .menu-opened & {
                transform: rotate(-45deg) translate(7px, -8px);
            }
        }
    }
}
