.parallax {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 160px 0 0;
    @include tablet {
        perspective: 1px;
        perspective-origin: top center;
        scroll-behavior: smooth;
        transform-style: preserve-3d;
        padding-top: 150px;
    }
}
