.section {
    position: relative;
    margin-bottom: 60px;
    @include tablet {
        margin-bottom: 110px;
    }

    &__big-top-indent {
        padding-top: 80px;
        @include tablet {
            padding-top: 140px;
        }
    }

    &__dark {
        background-color: $color;
        color: $bg_color;
        padding: 110px 0;
        transform: translateZ(0);
        @include tablet {
            padding-top: 140px;
            padding-bottom: 140px;
        }
    }

    &__overflow {
        overflow: hidden;
        max-width: 100vw;
    }

    &_holder {
        @include layout;
        text-align: center;
    }
    &_title {
        @include appearance();
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 1;
    }
    &_image-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        pointer-events: none;
    }
    &_image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 2;
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        transition: 1.2s $easingSmooth all .5s;

        .animated & {
            clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
        }

        // margin-top: -60px;
        // @include tablet {
        //     margin: 0;
        //     transform: translateY(75%) translateZ(-0.75px) scale(1.75);
        // }
    }
}
