.slide {
    position: relative;
    display: flex;
    justify-content: flex-end;
    text-align: left;

    &_title {
        font-size: 40px;
        line-height: 1;
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: 3;
        transform: translate(-100%, 0);
        opacity: 0;
        min-width: 50%;
        transition: 1.3s $easing transform .2s,
                    .5s $easing opacity .2s;
        @include tablet {
            font-size: 65px;
            max-width: 450px;
            left: 0;
            top: 4vw;
            bottom: auto;
            min-width: 0;
        }
        @include desktop-large {
            font-size: 80px;
            max-width: 500px;
        }

        .tns-slide-active & {
            transform: translate(-50%, 0);
            opacity: 1;
            @include tablet {
                transform: translate(0);
            }
        }
    }
    &_image {
        position: relative;
        z-index: 1;
        width: 90%;
        opacity: 0;
        margin-bottom: 50vw;
        transition: .5s $easing transform,
                    .2s $easing opacity;
        transform: translate(100%);
        @include tablet {
            width: 70%;
            margin: 0;
        }

        .tns-slide-active & {
            transform: translate(0);
            opacity: 1;
            transition: 2.5s $easing transform,
                        1s $easing opacity;
        }
    }
    &_image-small {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 20vw;
        width: 20%;
        transform: translate(-100%);
        opacity: 0;
        transition: 1.5s $easing transform,
                    .5s $easing opacity;
        @include tablet {
            bottom: -130px;
            left: 155px;
            top: auto;
        }
        @include desktop-large {
            left: 105px;
        }

        .tns-slide-active & {
            transform: translate(0);
            opacity: 1;
            transition: 1s $easing transform .5s,
                        .5s $easing opacity .5s;
        }
    }
}
