.slide {
    position: relative;
    display: flex;
    justify-content: flex-end;
    text-align: left;
    @include tablet {
        margin-top: 36px;
    }

    &_title {
        font-size: 40px;
        line-height: 1;
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: 3;
        transform: translate(-50%, 0);
        opacity: 0;
        min-width: 50%;
        transition: .5s $easing opacity .2s;
        @include tablet {
            font-size: 48px;
            max-width: 400px;
            left: 0;
            top: 5vw;
            bottom: auto;
            min-width: 0;
            transform: none;
        }
        @include desktop {
            font-size: 64px;
            max-width: 500px;
        }


        .tns-slide-active & {
            opacity: 1;
        }
    }
    &_image {
        position: relative;
        z-index: 1;
        width: 90%;
        opacity: 0;
        margin-bottom: 50vw;
        transition: .5s $easing transform .3s,
                    .3s $easing opacity;
        transform: translate(100%);
        @include tablet {
            width: 80%;
            margin: 0;
        }

        .tns-slide-active & {
            transform: translate(0);
            opacity: 1;
            transition: 2.5s $easing transform,
                        1s $easing opacity;
        }
    }
    &_image-small {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 20vw;
        width: 20%;
        transform: translate(-100%);
        opacity: 0;
        transition: 1.5s $easing transform .2s,
                    .5s $easing opacity;
        @include tablet {
            bottom: -130px;
            left: 105px;
            top: auto;
        }

        .tns-slide-active & {
            transform: translate(0);
            opacity: 1;
            transition: 2s $easing transform .5s,
                        .5s $easing opacity .5s;
        }
    }
}
