@mixin button {
    display: inline-block;
    background: $color;
    box-sizing: border-box;
    cursor: pointer;
    color: $bg_color;
    border: none;
    border-radius: 0;
    height: 48px;
    line-height: 48px;
    padding: 0 10px;
    white-space: nowrap;
    letter-spacing: 0.05em;
    text-align: center;
    font-size: 24px;
    line-height: 52px;
    font-family: $font-family__heading;
    min-width: 250px;
    width: 100%;
    transition: .2s $easing opacity;
    @include tablet {
        width: auto;
        font-size: 32px;
    }

    &:hover {
        opacity: .6;
    }
    &:active {
        opacity: .8;
    }
    &:disabled {
        opacity: .6;
    }
}

@mixin button-reset {
    border: none;
    padding: 0;
    background-color: transparent;
    height: auto;
    line-height: 1.2;
    min-width: 0;
    width: auto;
    border-radius: 0;
    text-transform: none;

    &:hover {
        transform: none;
        background-color: transparent;
    }
    &:active {
        transform: none;
        background-color: transparent;
    }
}

.button,
button,
input[type="button"],
input[type="submit"] {
    @include button;
}
