.form {
    max-width: 900px;
    padding: 20px 0;
    margin: auto;
    border-top: 2px solid currentColor;
    border-bottom: 2px solid currentColor;

    &_title {
        margin: 0 0 40px;
    }

    &_row {
        margin: 0 0 20px;
        position: relative;
    }

    &_error {
        font-size: 18px;
        line-height: 24px;
        color: $cRed;
        position: absolute;
        left: 0;
        bottom: -36px;
        display: none;

        .error & {
            display: block;
        }
    }

}
