.form {
    max-width: 900px;
    padding: 34px 0 0;
    margin: auto;
    border-top: 2px solid currentColor;
    border-bottom: 2px solid currentColor;

    &_title {
        @include appearance;
        margin: 0 0 90px;
    }

    &_row {
        @include appearance(.2s);
        margin: 0 0 20px;
        position: relative;

    }

    &_error {
        font-size: 18px;
        line-height: 24px;
        color: $cRed;
        position: absolute;
        left: 0;
        bottom: -36px;
        display: none;

        .error & {
            display: block;
        }
    }

    input[type="submit"] {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}
