textarea {
    @include placeholder-color($cGray);
    color: $color;
    background: transparent;
    border: none;
    border-bottom: 1px solid $cGray;
    border-radius: 0;
    box-sizing: border-box;
    font: 16px $font-family__heading;
    height: 58px;
    line-height: 58px;
    padding: 0 22px;
    text-align: center;
    resize: none;
    height: 100px;
    margin: 0;
    width: 100%;

    &:focus,
    &.focus {
        border-color: $color;
    }

    .error & {
        @include placeholder-color($cRed);
        color: $cRed;
    }
}
