$img: "src/img";

$bg_color: #fff;

$color: #000;

$cGreen: #5A9D91;
$cRed: #F16C63;
$cGray: #C9C8C8;
$cPink: #F4A3DD;
$cOrange: #D69E67;
$cGrey: #E9E9E9;
$cGreyLight: rgba(56, 45, 77, .3);
$cBlue: #7360E6;
$cBlueLight: #8EA2EC;
$cYellow: #CB8347;
$cPurple: #C859FF;
$cPurpleDark: #781AA8;
$cPurpleLight: #9778DD;

$font-family: 'Signifier', arial;
$font-family__heading: 'YogaSansPro', monospace;

$font-size: 22px;
$font-size__small: 19px;

$max-width: 1200px;
$indent: 19px;

// easings
$easingSmooth: cubic-bezier(0.38, 0.005, 0.215, 1);
$easeOutCirc: cubic-bezier(.07, .82, .17, 1);
$easeInOutCirc: cubic-bezier(.78, .13, .15, .86);
$easeInCirc: cubic-bezier(.6, .04, .98, .34);
$easing: $easingSmooth;
